# Git
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual env
.venv
venv
env

# Tests (optionnel si pas nécessaires au runtime)
tests/
test_*.py

# Docs
README.md
docs/

# Dev files
.vscode
.idea

# Logs
*.log

# Build
dist/
build/

# CI
.github/

# OS
.DS_Store
Thumbs.db
